@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #F1F1F1;
}

::-webkit-scrollbar-thumb{
    background: #04979e;
    border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar{
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}